<div class="span2"></div>
<div class="span8">
  <h3>Formularios</h3>
  <% if @formularios.any? %>
    <table class="table table-condensed table-striped sortable">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @formularios.each do |formulario| %>
          <tr>
            <td><%= formulario.codigo %></td>
            <td><%= formulario.nombre %></td>
            <td><%= formulario.tipo %></td>
            <td>
              <div class="btn-group">
                <%= link_to('Asignar', asign_formulario_path(formulario), remote: true, class: "btn btn-mini") %>
              </div>
            </td>
            <td>
              <div class="btn-group">
                <%= link_to('<i class="icon-search"></i>'.html_safe, formulario, :class => 'btn btn-mini') %>
                <%= link_to('<i class="icon-pencil"></i>'.html_safe, edit_formulario_path(formulario), :class => 'btn btn-mini') %>
                <%= link_to('<i class="icon-trash icon-white"></i>'.html_safe, delete_formulario_path(formulario), remote: true, class: "btn btn-mini btn-inverse") %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <br />
  <% end %>
  <%= link_to("Nuevo Formulario", new_formulario_path, :class => 'btn btn-mini btn-info') %>
  <div id="formulario-modal" class="modal hide fade"></div>
</div>