<div class="span2"></div>
<div class="span8">
  <h3>Formularios</h3>
  <% if @formularios.any? %>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @formularios.each do |formulario| %>
          <tr>
            <td><%= formulario.codigo %></td>
            <td><%= formulario.nombre %></td>
            <td><%= formulario.tipo %></td>
            <td>
              <a data-toggle="modal" href="#asignar-formulario-<%= formulario.id %>" class="btn btn-mini" type="button">Asignar</a>
            </td>
            <td>
              <div class="btn-group">
                <%= link_to('<i class="icon-search"></i>'.html_safe, formulario, :class => 'btn btn-mini') %>
                <%= link_to('<i class="icon-pencil"></i>'.html_safe, edit_formulario_path(formulario), :class => 'btn btn-mini') %>
                <a data-toggle="modal" href="#delete-formulario-<%= formulario.id %>" class="btn btn-mini btn-inverse" type="button"><i class="icon-trash icon-white"></i></a>
              </div>
              <%= render :partial => 'eliminar', :locals => {:formulario => formulario} %>
              <%= render :partial => 'asignar', :locals => {:formulario => formulario} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <br />
  <% end %>
  <%= link_to("Nuevo Formulario", new_formulario_path, :class => 'btn btn-mini btn-info') %>
</div>