<div class="span1"></div>
<div class="span10" style="overflow: auto">
	<h3>Resumen Formularios</h3>
	<% if @formularios.empty? %>
		<h4>Todavía no existen formularios</h4>
	<% elsif @cursos.empty? %>
		<h4>Todavía no existen cursos</h4>
	<% else %>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Formulario</th>
					<% @cursos.each do |curso| %>
						<th class="centered"><%= link_to(curso.nombre, new_mensaje_with_receiver_path(curso.relator_jefe_id), remote: true, :class => 'btn btn-link resumen-tooltip', :title => User.find(curso.relator_jefe_id).name) %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @formularios.each do |formulario| %>
				<tr>
					<td><span data-placement="left" class="resumen-tooltip" title="<%= formulario.nombre %>"><%= formulario.codigo %></span></td>
					<% @cursos.each do |curso| %>
						<td class="centered">
							<% if FormularioCurso.where(:formulario_id => formulario, :curso_id => curso).first.nil? %>
								<button type="button"  class="btn btn-mini btn-warning disabled">N</button>
							<% elsif formulario.contestado?(curso) %>
								<button type="button"  class="btn btn-mini btn-success disabled">C</button>
							<% else %>
								<% if formulario.duplicates(curso) > 1 %>
									<% if formulario.pendientes(curso) == 1 %>
										<button type="button"  class="btn btn-mini btn-danger disabled resumen-tooltip" title="Hay <%= formulario.pendientes(curso) %> pendiente">P</button>
									<% else %>
										<button type="button"  class="btn btn-mini btn-danger disabled resumen-tooltip" title="Hay <%= formulario.pendientes(curso) %> pendientes">P</button>
									<% end %>
								<% else %>
									<button type="button"  class="btn btn-mini btn-danger disabled">P</button>
								<% end %>
							<% end %>
						</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div>
			<div class="span8"><%= render 'layouts/messages' %></div>
			<div class="span4 well well-small">
				<p><button type="button"  class="btn btn-mini btn-success disabled">C</button> Contestado</p>
				<p><button type="button"  class="btn btn-mini btn-warning disabled">N</button> Formulario no asociado a este curso</p>
				<p><button type="button"  class="btn btn-mini btn-danger disabled">P</button> Pendiente</p>
			</div>
		</div>
	<% end %>
	<br><br><br>
	
</div>
<div id="mensaje-modal" class="modal hide fade modal-mensaje"></div>