<%= simple_form_for(@programa) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre, :autofocus => true, :label => false, :placeholder => 'Nombre', :class => 'input-block-level' %>
  	 <p>Tipo:</p>
  	 <%= f.input :tipo, :collection => ['Social', 'Microempresas'], :label => false, :prompt => "", :class => 'input-block-level' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar", :class => 'btn-info' %>
    <% end %>
    <%= link_to("Atrás", programas_path, :class => 'btn') %>
  </div>
