<div id="asistencia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Asistencia <%= curso.nombre %></h2>
  </div>
	<div class="modal-body">
		<% if alumnos.any? %>
		    <table class="table table-condensed table-striped">
		      <thead>
		          <tr>
		          	<th>Alumno</th>
		          	<% sesiones.each do |sesion| %>
		            	<th><%= sesion.fecha.strftime("%d %b") %></th>
		            <% end %>
		            <th></th>
		          </tr>
		      </thead>
		      <tbody>
		        <% @alumnos.each do |alumno| %>
		          <tr>
		            <td><%= alumno.nombre %> <%= alumno.apellido_paterno %></td>
		            <% @sesiones.each do |sesion| %>
		            	<td>
		            		<div class="btn-group" data-toggle="buttons-radio">
							  <button type="button" id="presente-<%= alumno.id %>-<%= sesion.id %>" class="btn btn-mini btn-info">P</button>
							  <button type="button" id="ausente-<%= alumno.id %>-<%= sesion.id %>" class="btn btn-mini btn-info">A</button>
							</div>
							<% if alumno_sesion = AlumnoSesion.where(:alumno_id => alumno, :sesion_id => sesion).first %>
								<% if alumno_sesion.presente %>
									<script type="text/javascript">
										$("#presente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
									</script>
								<% else %>
									<script type="text/javascript">
										$("#ausente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
									</script>
								<% end %>
							<% end %>
							<script type="text/javascript">
								$("#presente-<%= alumno.id %>-<%= sesion.id %>").click(function() {
									$.ajax({
								      type: "POST",
								      url: "/alumnos/asistencia/<%= alumno.id %>",
								      data: {presente: 'true', sesion: '<%= sesion.id %>'}
								    });
								});
								$("#ausente-<%= alumno.id %>-<%= sesion.id %>").click(function() {
									$.ajax({
								      type: "POST",
								      url: "/alumnos/asistencia/<%= alumno.id %>",
								      data: {presente: 'false', sesion: '<%= sesion.id %>'}
								    });
								});
							</script>
		            	</td>
		            <% end %>
		          </tr>
		        <% end %>
		        <tr>
		        	<td></td>
		        	<% @sesiones.each do |sesion| %>
			        	<td>
			        		<div class="btn-group">
								<button type="button" id="todos-presentes-<%= sesion.id %>" class="btn btn-mini btn-inverse">P</button>
								<button type="button" id="todos-ausentes-<%= sesion.id %>" class="btn btn-mini btn-inverse">A</button>
							</div>
			        	</td>
			        	<script type="text/javascript">
							$("#todos-presentes-<%= sesion.id %>").click(function() {
								<% @alumnos.each do |alumno| %>
									$("#presente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
									$.ajax({
								      type: "POST",
								      url: "/alumnos/asistencia/<%= alumno.id %>",
								      data: {presente: 'true', sesion: '<%= sesion.id %>'}
								    });
								<% end %>
							});
							$("#todos-ausentes-<%= sesion.id %>").click(function() {
								<% @alumnos.each do |alumno| %>
									$("#ausente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
									$.ajax({
								      type: "POST",
								      url: "/alumnos/asistencia/<%= alumno.id %>",
								      data: {presente: 'false', sesion: '<%= sesion.id %>'}
								    });
								<% end %>
							});
						</script>
			        <% end %>
		        </tr>
		      </tbody>
		    </table>
		<% else %>
		<p>El curso todavía no tiene alumnos</p>
		<% end %>
	</div>
	<div class="modal-footer">
		<%= link_to "Descargar Excel", alumno_path(curso, format: "xls"), :class => 'btn btn-success' %>
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	</div>
</div>