<div id="edit-alumno-<%= alumno.id %>" class="modal hide fade modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Editar</h2>
  </div>
	<div class="modal-body">
		<%= simple_form_for(alumno) do |f| %>
		<%= f.error_notification %>
		<%= display_base_errors resource %>
		<%= f.input :nombre, :autofocus => true, :label => false, :placeholder => 'Nombre', :class => 'input-block-level' %>
		<%= f.input :apellido_paterno, :label => false, :placeholder => 'Apellido Paterno', :class => 'input-block-level' %>
		<%= f.input :apellido_materno, :label => false, :placeholder => 'Apellido Materno', :class => 'input-block-level' %>
		<%= f.input :rut, :label => false, :placeholder => 'Rut', :input_html => {:id => "edit_rut_" + alumno.id.to_s} %>
  		<div class="input-append date">
			<p>Fecha Nacimiento: </p>
			<input type="text" data-behaviour='datepicker' placeholder="dd/mm/aaaa" class="string date_picker required" name="alumno[fecha_nacimiento]" id="alumno_fecha">
		</div>
		<%= f.input :sexo, :collection => ['Hombre', 'Mujer'], :label => false, :prompt => "Sexo", :class => 'input-block-level', :input_html => {:id => "alumno_sexo_" + alumno.id.to_s} %>
  		<%= f.input :email, :label => false, :placeholder => 'Email', :class => 'input-block-level' %>
  		<%= f.input :num_telefono, :label => false, :placeholder => 'Número Telefono', :class => 'input-block-level' %>
  		<%= f.input :num_celular, :label => false, :placeholder => 'Celular', :class => 'input-block-level' %>
  		<%= f.input :direccion, :label => false, :placeholder => 'Dirección', :class => 'input-block-level' %>
  		<%= f.input :comuna, :collection => SimonDeCirene::Application::COMUNAS, :label => false, :prompt => "Selecciona una comuna", :class => 'input-block-level', :input_html => {:id => "alumno_comuna_" + alumno.id.to_s} %>
  		<%= f.input :quintil, :collection => ['I', 'II', 'III', 'IV', 'V'], :label => false, :prompt => "Quintil", :class => 'input-block-level', :input_html => {:id => "alumno_quintil_" + alumno.id.to_s} %>
  		<%= f.input :escolaridad, :collection => ['Sin Escolaridad', 'Básica Completa', 'Básica Incompleta', 'Media Completa', 'Media Incompleta', 'Universitaria Completa', 'Universitaria Incompleta', 'Posgrado'], :label => false, :prompt => "Escolaridad", :class => 'input-block-level', :input_html => {:id => "alumno_escolaridad_" + alumno.id.to_s} %>
  		<% if @curso.programa.tipo == "Microempresas" %>
  			<%= f.select :profesion, options_for_select(["Comercio", "Servicio", "Productivo"]), {}, {:multiple => true, :id => "alumno_profesion_" + alumno.id.to_s} %>
  			<br /><br />
  			<%= f.input :actividad, :label => false, :placeholder => 'Actividad', :class => 'input-block-level' %>
  		<% else %>
  			<%= f.input :actividad, :label => false, :placeholder => 'Profesión', :class => 'input-block-level' %>
			<%= f.input :rut_institucion, :label => false, :placeholder => 'Rut Institución', :class => 'input-block-level', :input_html => {:id => "edit_rut_institucion_" + alumno.id.to_s} %>
  			<%= f.input :cargo, :label => false, :placeholder => 'Cargo en la institución', :class => 'input-block-level' %>
  		<% end %>
  		<input class="hidden" id="alumno_curso_id" name="curso_id" type="hidden" value="<%= @curso.id %>">
	</div>
	<div class="modal-footer">
		  <%= f.button :submit, "Cambiar", :class => 'btn-info' %>
		<% end %>
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	</div>
</div>

<script type="text/javascript">
	setRut("#edit_rut_<%=alumno.id%>");
	setRut("#edit_rut_institucion_<%=alumno.id%>");
	$("#alumno_profesion_<%=alumno.id%>").select2({
        width: "resolve",
        placeholder: "Selecciona uno o varios rubros"
    });
    $("#alumno_comuna_<%=alumno.id%>").select2({
        width: "resolve",
        placeholder: "Comuna"
    });
    $("#alumno_sexo_<%=alumno.id%>").select2({
        width: "resolve",
        placeholder: "Sexo"
    });
    $("#alumno_quintil_<%=alumno.id%>").select2({
        width: "resolve",
        placeholder: "Quintil"
    });
    $("#alumno_escolaridad_<%=alumno.id%>").select2({
        width: "resolve",
        placeholder: "Escolaridad"
    });
</script>