<div id="excel-alumno" class="modal hide fade modal-excel">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Subir Excel</h2>
  </div>
	<div class="modal-body">
		<p>Primero debe <strong>elegir el archivo</strong> que desea subir</p>
		<p>Se recomienda seguir el formato del archivo tipo que se puede descargar apretando <strong>"Descargar Excel Tipo"</strong></p>
		<br /><br />
		<%= form_tag import_alumnos_path, multipart: true do %>
    		<%= file_field_tag :file %>
    		<input class="hidden" id="alumno_curso_id" name="curso_id" type="hidden" value="<%= curso.id %>">
    	<br /><br /><br /><br />
    	<p>Una vez elegido el archivo debe apretar <strong>"Importar"</strong></p>
	</div>
	<div class="modal-footer">

			<%= submit_tag "Importar", :class => "btn btn-success" %>
		<% end %>
		<%= link_to "Descargar Excel Tipo", "/download/excel_tipo", :class => "btn btn-info" %>
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	</div>
</div>