<div class="span1"></div>
<div class="span10" style="overflow: auto">
	<h3>Asistencia <%= @curso.nombre %></h3>
	<% if @alumnos.any? %>
	<table class="table table-condensed table-striped sortable">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Apellido</th>
				<% @sesiones.each do |sesion| %>
				<th><%= sesion.fecha.strftime("%d %b") %></th>
				<% end %>
				<th class="centered-header">Asistencia</th>
			</tr>
		</thead>
		<tbody>
			<% @alumnos.each do |alumno| %>
			<tr>
				<td><%= alumno.nombre %></td>
				<td><%= alumno.apellido_paterno %></td>
				<% @sesiones.each do |sesion| %>
				<td>
					<% if (sesion.user_id == current_user.id && sesion.fecha < DateTime.now) || (current_user.has_role? :admin) || (current_user.has_role? :coordinador)%>
						<div class="btn-group" data-toggle="buttons-radio">
							<button type="button" id="presente-<%= alumno.id %>-<%= sesion.id %>" class="btn btn-mini btn-info">P</button>
							<button type="button" id="ausente-<%= alumno.id %>-<%= sesion.id %>" class="btn btn-mini btn-info">A</button>
						</div>
						<% if alumno_sesion = AlumnoSesion.where(:alumno_id => alumno, :sesion_id => sesion).first %>
							<% if alumno_sesion.presente %>
							<script type="text/javascript">
								$("#presente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
								$("#presente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-info");
						    	$("#presente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-success");
							</script>
							<% else %>
							<script type="text/javascript">
								$("#ausente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
								$("#ausente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-info");
						    	$("#ausente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-danger");
							</script>
							<% end %>
						<% end %>
						<script type="text/javascript">
							$("#presente-<%= alumno.id %>-<%= sesion.id %>").click(function() {
								$.ajax({
									type: "POST",
									url: "/alumnos/asistencia/<%= alumno.id %>",
									data: {presente: 'true', sesion: '<%= sesion.id %>'}
								});
								$("#ausente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-danger");
							    $("#ausente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-info");
							    $(this).removeClass("btn-info");
							    $(this).addClass("btn-success");
							});
							$("#ausente-<%= alumno.id %>-<%= sesion.id %>").click(function() {
								$.ajax({
									type: "POST",
									url: "/alumnos/asistencia/<%= alumno.id %>",
									data: {presente: 'false', sesion: '<%= sesion.id %>'}
								});
								$("#presente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-success");
							    $("#presente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-info");
							    $(this).removeClass("btn-info");
							    $(this).addClass("btn-danger");
							});
						</script>
					<% else %>
						<% if alumno_sesion = AlumnoSesion.where(:alumno_id => alumno, :sesion_id => sesion).first %>
							<% if alumno_sesion.presente %>       
							<button type="button" id="presente-<%= alumno.id %>-<%= sesion.id %>" class="btn btn-mini btn-info disabled">P</button>
							<% else %>
							<button type="button" id="presente-<%= alumno.id %>-<%= sesion.id %>" class="btn btn-mini btn-danger disabled">A</button>
							<% end %>
						<% else %>
							<button type="button" id="presente-<%= alumno.id %>-<%= sesion.id %>" class="btn btn-mini btn-warning disabled">NA</button>
						<% end %>
					<% end %>
				</td>

				<% end %>
				<td class="centered">
					<% porcentaje_asistencia = alumno.porcentaje_asistencia(@curso) %>
					<% if porcentaje_asistencia == "NA" %>       
						<button type="button" class="btn btn-mini btn-warning disabled">NA</button>
					<% elsif porcentaje_asistencia <= 75 %>
						<button type="button" class="btn btn-mini btn-danger disabled"><%= porcentaje_asistencia %></button>
					<% else %>
						<button type="button" class="btn btn-mini btn-success disabled"><%= porcentaje_asistencia %></button>
					<% end %>
				
				</td>
			</tr>
			<% end %>
			<tr>
				<td></td>
				<td></td>
				<% @sesiones.each do |sesion| %>
				<% if (sesion.user_id == current_user.id) || (current_user.has_role? :admin) || (current_user.has_role? :coordinador)%>
				<td>
					<div class="btn-group">
						<button type="button" id="todos-presentes-<%= sesion.id %>" class="btn btn-mini btn-inverse">P</button>
						<button type="button" id="todos-ausentes-<%= sesion.id %>" class="btn btn-mini btn-inverse">A</button>
					</div>
				</td>
				<script type="text/javascript">
				$("#todos-presentes-<%= sesion.id %>").click(function() {
					<% @alumnos.each do |alumno| %>
					$("#presente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
					$.ajax({
						type: "POST",
						url: "/alumnos/asistencia/<%= alumno.id %>",
						data: {presente: 'true', sesion: '<%= sesion.id %>'}
					});
					$("#ausente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-danger");
				    $("#ausente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-info");
				    $("#presente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-info");
				    $("#presente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-success");
					<% end %>
				});
				$("#todos-ausentes-<%= sesion.id %>").click(function() {
					<% @alumnos.each do |alumno| %>
					$("#ausente-<%= alumno.id %>-<%= sesion.id %>").button('toggle');
					$.ajax({
						type: "POST",
						url: "/alumnos/asistencia/<%= alumno.id %>",
						data: {presente: 'false', sesion: '<%= sesion.id %>'}
					});
					$("#presente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-success");
				    $("#presente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-info");
				    $("#ausente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-info");
				    $("#ausente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-danger");
					<% end %>
				});
				</script>
				<% else %>
				<td></td>
				<% end %>
				<% end %>
			</tr>
			<% if current_user.has_role? :admin %>
				<tr>
					<td></td>
					<td></td>
					<% @sesiones.each do |sesion| %>
						<td>
							<button type="button" id="borrar-asistencia-sesion-<%= sesion.id %>" class="btn btn-mini btn-danger">Borrar <br />Asistencia</button>
						</td>
						<script type="text/javascript">
							$("#borrar-asistencia-sesion-<%= sesion.id %>").click(function() {
								<% @alumnos.each do |alumno| %>
									$("#presente-<%= alumno.id %>-<%= sesion.id %>").removeClass("active");
									$("#ausente-<%= alumno.id %>-<%= sesion.id %>").removeClass('active');
									$("#presente-<%= alumno.id %>-<%= sesion.id %>").removeClass("btn-success");
									$("#ausente-<%= alumno.id %>-<%= sesion.id %>").removeClass('btn-danger');
									$("#presente-<%= alumno.id %>-<%= sesion.id %>").addClass("btn-info");
									$("#ausente-<%= alumno.id %>-<%= sesion.id %>").addClass('btn-info');
								<% end %>
								$.ajax({
									type: "POST",
									url: "/sesion/<%= sesion.id %>/borrar_asistencia"
								});
							});
						</script>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% else %>
	<p>El curso todavía no tiene alumnos</p>
	<% end %>
	<% if current_user.has_role? :relator %>
		<%= link_to('Atrás', sesion_curso_path(@curso), class: "btn") %>
	<% else %>
		<%= link_to('Atrás', curso_path(@curso), class: "btn") %>
	<% end %>
	<a data-toggle="modal" href="#excel-sence" class="btn btn-success" type="button">Subir Excel SENCE</a>
	<%= render :partial => 'sesions/subir_excel_sence', :locals => {:curso => @curso} %>
	<br><br><br>
</div>