<div class="span3">
  <ul class="nav nav-tabs nav-stacked sesions-sidenav affix">
    <% @cursos.each do |curso| %>
      <% if curso.id == @curso.id %>
        <li class="active">
          <a href="#">
            <span class="badge badge-sidenav-active pull-right">
              <%= Sesion.where(:user_id => current_user).where(:curso_id => curso.id).count %>
            </span>
            <%= curso.nombre %>
          </a>
        </li>
      <% else %>
        <li>
          <a href="/sesions/curso/<%=curso.id%>">
            <span class="badge badge-inverse pull-right">
              <%= Sesion.where(:user_id => current_user).where(:curso_id => curso.id).count %>
            </span>
            <%= curso.nombre %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="span1"></div>
<div class="span8">
  <%# ------------------------------ Header ------------------------------ %>  
  <div class="page-header">
      <h1><%= @curso.nombre %> <small><%= @curso.codigo %>, <%= @curso.comuna %></small></h1>
  </div>
  <%# ------------------------------ Sesiones ------------------------------ %> 
  <h3>Sesiones</h3>
  <table class="table table-condensed table-striped">
    <thead>
        <tr>
          <th>Tema</th>
          <th>Horario</th>
          <th>Fecha</th>
          <th>Lugar</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      <% Sesion.where(:user_id => current_user).where(:curso_id => @curso.id).order(:fecha).each do |sesion| %>
        <tr>
          <td><%= sesion.tema %></td>
          <td><%= sesion.hora_inicio.strftime("%I:%M %p") %> a <%= sesion.hora_termino.strftime("%I:%M %p") %></td>
          <td><%= sesion.fecha.strftime("%d %b, %Y") %></td>
          <td><%= sesion.direccion %></td>
          <td>
            <div class="btn-group">
              <%= link_to '<i class="icon-search"></i>'.html_safe, sesion_path(sesion), :class => 'btn btn-mini' %>
              <a data-toggle="modal" href="#edit-sesion-<%= sesion.id %>" class="btn btn-mini" type="button"><i class="icon-pencil"></i></a>
            </div>
          </td>
          <%= render :partial => 'edit_sesion', :locals => {:sesion => sesion, :curso => @curso} %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a data-toggle="modal" href="#new-sesion-<%= @curso.id %>" class="btn btn-mini btn-info" type="button">Agregar Sesión</a>
  <%= render :partial => 'new_sesion', :locals => {:curso => @curso} %>
  <hr>
  <%# ------------------------------ Alumnos ------------------------------ %> 
  <h3>Alumnos</h3>
  <% if @alumnos.any? %>
    <%# ------------------------------ Alumnos Social ------------------------------ %>
    <% if @curso.programa.tipo = "Social" %>
      <table class="table table-condensed table-striped">
        <thead>
            <tr>
              <th>Nombre</th>
              <th>Institución</th>
              <th>Cargo</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @alumnos.each do |alumno| %>
            <tr>
              <td><%= alumno.nombre %> <%= alumno.apellido_paterno %></td>
              <td><%= alumno.nombre_institucion %></td>
              <td><%= alumno.cargo %></td>
              <td>
                <div class="btn-group">
                  <%= link_to '<i class="icon-search"></i>'.html_safe, alumno_details_path(alumno), :class => 'btn btn-mini' %>
                  <a data-toggle="modal" href="#edit-alumno-<%= alumno.id %>" class="btn btn-mini" type="button"><i class="icon-pencil"></i></a>
                  <a data-toggle="modal" href="#delete-alumno-<%= alumno.id %>" class="btn btn-mini btn-inverse" type="button"><i class="icon-trash icon-white"></i></a>
                </div>
              </td>
              <%= render :partial => 'eliminar_alumno', :locals => {:alumno => alumno, :curso => @curso} %>
              <%= render :partial => 'editar_alumno', :locals => {:alumno => alumno, :curso => @curso} %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%# ------------------------------ Alumnos Microempresas ------------------------------ %>
    <% else %>
      <table class="table table-condensed table-striped">
        <thead>
            <tr>
              <th>Rut</th>
              <th>Nombre</th>
              <th>Quintil</th>
              <th>Escolaridad</th>
              <th>Rubro</th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          <% @alumnos.each do |alumno| %>
            <tr>
              <td><%= alumno.rut %></td>
              <td><%= alumno.nombre %> <%= alumno.apellido_paterno %></td>
              <td><%= alumno.quintil %></td>
              <td><%= alumno.escolaridad %></td>
              <td><%= alumno.profesion %></td>
              <td>
                <div class="btn-group">
                  <%= link_to '<i class="icon-search"></i>'.html_safe, alumno_details_path(alumno), :class => 'btn btn-mini' %>
                  <a data-toggle="modal" href="#edit-alumno-<%= alumno.id %>" class="btn btn-mini" type="button"><i class="icon-pencil"></i></a>
                  <a data-toggle="modal" href="#delete-alumno-<%= alumno.id %>" class="btn btn-mini btn-inverse" type="button"><i class="icon-trash icon-white"></i></a>
                </div>
              </td>
              <%= render :partial => 'eliminar_alumno', :locals => {:alumno => alumno, :curso => @curso} %>
              <%= render :partial => 'editar_alumno', :locals => {:alumno => alumno, :curso => @curso} %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <a data-toggle="modal" href="#new-alumno" class="btn btn-mini btn-info" type="button">Agregar Alumno</a>
  <a data-toggle="modal" href="#excel-alumno" class="btn btn-mini btn-success" type="button">Subir Excel</a>
  <a data-toggle="modal" href="#asistencia" class="btn btn-mini" type="button">Asistencia</a>

  <%= render :partial => 'new_alumno', :locals => {:sesion => @sesion} %>
  <%= render :partial => 'subir_excel', :locals => {:curso => @curso} %>
  <%= render :partial => 'asistencia', :locals => {:alumnos => @alumnos, :sesiones => @sesiones, :curso => @curso} %>

  <%# ------------------------------ Formularios ------------------------------ %> 
    <hr>
    <h3>Formularios</h3>
    <% if @formularios.any? %>
      <table class="table table-condensed table-striped">
        <thead>
            <tr>
              <th>Cógido</th>
              <th>Nombre</th>
              <th>Estado</th>
            </tr>
        </thead>
        <tbody>
          <% @formularios.each do |formulario| %>
            <tr>
              <td><%= formulario.codigo %></td>
              <td><%= formulario.nombre %></td>
              <td>
                <% if formulario.contestado?(@curso) %>
                  <button type="button" id="estado-<%= formulario.id %>-<%= @curso.id %>" class="btn btn-mini btn-info disabled">Contestado</button>
                <% else %>
                  <%= link_to "Contestar", curso_formulario_path(:curso_id => @curso, :formulario_id => formulario), :class => 'btn btn-mini' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>

    <p>El curso todavía no tiene formularios</p>
 
    <% end %>

  <br /><br /><br />
</div>
