<div class="span3"></div>
<div class="span6">
  <div class="hero-unit">
    <h1><%= @sesion.tema %></h1>
    <br /><br />

    <p>
      El relator de esta sesión es <b><%= User.find(@sesion.user_id).name %></b>
    </p>

    <p>
      Se impartirá de <b><%= @sesion.hora_inicio.strftime("%I:%M %p") %></b> a <b><%= @sesion.hora_termino.strftime("%I:%M %p") %></b>
    </p>

    <p>
      El día <b><%= @sesion.fecha.strftime("%B %d, %Y") %></b>
    </p>

    <p>
      Es una sesión del tipo <b><%= @sesion.tipo %></b>
      
    </p>

    <p>
      Se llevará a cabo en <b><%= @sesion.direccion %></b>
    </p>

    <p>
      <%= @sesion.comentario %>
    </p>

    <br />
    <%= link_to('Editar', edit_sesion_path(@sesion), remote: true, class: "btn btn-large btn-info") %>
    <% if current_user.has_role? :relator %>
      <%= link_to 'Atrás', sesion_path(@sesion), :class => 'btn btn-large' %>
    <% else %>
      <%= link_to 'Atrás', curso_path(@sesion.curso_id), :class => 'btn btn-large' %>
    <% end %>
    <a data-toggle="modal" href="#delete-sesion-<%= @sesion.id %>" class="btn btn-large btn-inverse" type="button">Eliminar</a>
  </div>
  <div id="sesion-modal" class="modal hide fade modal-medium"></div>
</div>