<div class="span2"></div>
<div class="span8">
    <% if @cursos.any? %>
        <% @cursos.each do |curso| %>
            <div class="page-header">
                <h1><%= curso.nombre %> <small><%= curso.codigo %>, <%= curso.comuna %></small></h1>
            </div>
            <table class="table table-condensed table-striped">
              <thead>
                  <tr>
                    <th>Tema</th>
                    <th>Horario</th>
                    <th>Fecha</th>
                    <th>Lugar</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                  <% Sesion.where(:user_id => current_user).where(:curso_id => curso.id).order(:fecha).each do |sesion| %>
                  <tr>
                    <td><%= sesion.tema %></td>
                    <td><%= sesion.hora_inicio.strftime("%I:%M %p") %> a <%= sesion.hora_termino.strftime("%I:%M %p") %></td>
                    <td><%= sesion.fecha.strftime("%B %d, %Y") %></td>
                    <td><%= sesion.direccion %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <a data-toggle="modal" href="#new-sesion-<%= curso.id %>" class="btn btn-mini btn-info" type="button">Agregar Sesión</a>
            <%= render :partial => 'new_sesion', :locals => {:curso => curso} %>
            <br /><br /><br />
        <% end %>
        <br />
    <% else %>
      <div class="hero-unit">
        <h2>No tienes ninguna sesión programada</h2>
      </div>
    <% end %>

</div>
