<div id="change-password" class="modal hide fade modal-change-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Contraseña</h2>
  </div>
  	<%= simple_form_for(current_user, :url => { :action => "update_password", :controller => "users" }) do |f| %>
	<div class="modal-body">
		<%= f.error_notification %>
		<%= display_base_errors resource %>
		<%= f.password_field :password, :autofocus => true, :label => false, :placeholder => 'Nueva contraseña', :class => 'input-block-level' %>
		<%= f.password_field :password_confirmation, :label => false, :placeholder => 'Ingresala nuevamente', :class => 'input-block-level' %>
	</div>
	<div class="modal-footer">
		  <%= f.button :submit, "Cambiar", :class => 'btn-info', :id => "change-password-btn", :"data-loading-text" => "Cambiando..." %>
		<% end %>
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	</div>
</div>