<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :autofocus => true, :label => false, :placeholder => 'Nombre', :class => 'input-block-level' %>
    <%= f.input :email, :label => false, :placeholder => 'Email', :class => 'input-block-level' %>
    <%= f.input :role_ids, :collection => Role.all, :label => false, :prompt => "Selecciona un rol", :class => 'input-block-level' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar", :class => 'btn-info' %>
  <% end %>
  <%= link_to("Atrás", users_path, :class => 'btn') %>
  </div>