<div id="new-user" class="modal hide fade modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Nuevo Usuario</h2>
  </div>
	<div class="modal-body">
		<%= simple_form_for(@user) do |f| %>
		<%= f.error_notification %>
		<%= display_base_errors resource %>
		<%= f.input :name, :autofocus => true, :label => false, :placeholder => 'Nombre', :class => 'input-block-level' %>
  		<%= f.input :email, :label => false, :placeholder => 'Email', :class => 'input-block-level' %>
  		<%= f.input :role_ids, :collection => Role.all, :label => false, :prompt => "Selecciona un rol", :class => 'input-block-level' %>
	</div>
	<div class="modal-footer">
		  <%= f.button :submit, "Crear", :class => 'btn-info' %>
		<% end %>
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	</div>
</div>
