<div class="span3"></div>
<div class="span6">
  <h3>Usuarios</h3>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini btn-block" type="button"><%= user.roles.first.name.titleize unless user.roles.first.nil? %></a>
          <%= render user %>
        </td>
        <td><a data-toggle="modal" href="#delete-user-<%= user.id %>" class="btn btn-mini btn-inverse" type="button">Eliminar</a></td>
      </tr>
      <%= render :partial => 'eliminar_usuario', :locals => {:user => user} %>
    <% end %>
    </tbody>
  </table>
  <a data-toggle="modal" href="#new-user" class="btn btn-mini btn-info" type="button">Crear Usuario</a>
  <%= render 'new' %>
</div>
