<div id="edit-curso-<%= curso.id %>" class="modal hide fade modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2>Editar</h2>
  </div>
	<div class="modal-body">
		<%= simple_form_for curso, :url => curso_path(curso), :html => {:method => :put } do |f| %>
		<%= f.error_notification %>
		<%= display_base_errors resource %>
		<%= f.input :codigo, :autofocus => true, :label => false, :placeholder => curso.codigo, :class => 'input-block-level' %>
  		<%= f.input :nombre, :label => false, :placeholder => curso.nombre, :class => 'input-block-level' %>
  		<%= f.input :comuna, :collection => SimonDeCirene::Application::COMUNAS, :label => false, :selected => curso.comuna, :class => 'input-block-level' %>
	</div>
	<div class="modal-footer">
		  <%= f.button :submit, "Cambiar", :class => 'btn-info' %>
		<% end %>
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	</div>
</div>