<%= simple_form_for(@curso) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :codigo, :autofocus => true, :label => false, :placeholder => 'Código', :class => 'input-block-level' %>
    <%= f.input :nombre, :label => false, :placeholder => 'Nombre', :class => 'input-block-level' %>
    <%= f.input :comuna, :collection => SimonDeCirene::Application::COMUNAS, :label => false, :prompt => "Selecciona una comuna", :class => 'input-block-level' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar", :class => 'btn-info' %>
    <% end %>
    <%= link_to("Atrás", cursos_path, :class => 'btn') %>
  </div>

