<%= simple_form_for(@curso) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :programa_id, :collection => Programa.all_active.collect{ |p| [p.nombre, p.id] }, :label => false, :prompt => "Programa", :class => 'input-block-level' %>
    <%= f.input :codigo, :autofocus => true, :label => false, :placeholder => 'Código', :input_html => { :class => "input-block-level" } %>
    <%= f.input :nombre, :label => false, :placeholder => 'Nombre', :input_html => { :class => "input-block-level" } %>
    <%= f.input :comuna, :collection => SimonDeCirene::Application::COMUNAS, :label => false, :prompt => "Selecciona una comuna", :input_html => { :class => "input-block-level" } %>
    <%= f.input :relator_jefe_id, :collection => (User.with_role :relator).collect{ |p| [p.name, p.id] }, :label => false, :prompt => "Relator Jefe", :input_html => { :class => "input-block-level"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enviar", :class => 'btn-info' %>
    <% end %>
    <%= link_to("Atrás", cursos_path, :class => 'btn') %>
  </div>

