<div class="span2"></div>
<div class="span8">
  <h3>Cursos</h3>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Comuna</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cursos.each do |curso| %>
        <tr>
          <td><%= curso.codigo %></td>
          <td><%= curso.nombre %></td>
          <td><%= curso.comuna %></td>
          <td>
            <a data-toggle="modal" href="#edit-curso-<%= curso.id %>" class="btn btn-mini" type="button">Editar</a>
            <%= render curso %>
            <%= link_to("Eliminar", curso, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-inverse') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a data-toggle="modal" href="#new-curso" class="btn btn-mini btn-info" type="button">Crear Curso</a>
  <%= render 'new' %>
</div>