<div class="span1"></div>
<div class="span10">
	<h3>Resumen Cursos</h3>
	<% if @cursos.empty? %>
		<h4>Todavía no existen cursos</h4>
	<% else %>
		<table class="table table-condensed table-striped sortable">
			<thead>
				<tr>
					<th>Curso</th>
					<th>Sesiones</th>
					<th class="centered-header">Asistencia</th>
					<th class="centered-header">Asistencia Promedio Programa</th>
					<th class="centered-header">Asistencia Sobre el Total</th>
					<th class="centered-header">Asistencia Sobre el Total Promedio Programa</th>
				</tr>
			</thead>
			<tbody>
				<% @cursos.each do |curso| %>
				<tr>
					<td>
						<span data-placement="left" class="resumen-tooltip" title="<%= User.find(curso.relator_jefe_id).name %>"><%= link_to(curso.codigo + " - " + curso.comuna, curso, :class => 'btn-link') %></span>
					</td>
					<td>
					<% if curso.sesions.any? %>
						<% curso.sesions.order(:fecha).each_with_index do |sesion, index| %>
							<span data-content="<strong>Relator: </strong><%= sesion.relator.name %><br><strong>Horario: </strong><%= sesion.hora_inicio.strftime("%I:%M %p") %> a <%= sesion.hora_termino.strftime("%I:%M %p") %><br><strong>Fecha: </strong><%= sesion.fecha.strftime("%B %d, %Y") %><br><strong>Tipo: </strong><%= sesion.tipo %><br><strong>Lugar: </strong><%= sesion.direccion %><br><strong>Asistencia: </strong><%= sesion.porcentaje_asistentes %><br><%=sesion.comentario%>" rel="popover" data-placement="bottom" data-original-title="<h5 class='text-center'><%=sesion.tema%></h5>" data-html="true" class="badge badge-info sesion-popover"><%= index + 1 %></span>
						<% end %>
					<% else %>
						<span class="badge badge-warning">Este curso no tiene sesiones inscritas</span>
					<% end %>
					</td>
					<td class="centered">
						<% if curso.asistencia == "NA" %>
							<button type="button"  class="btn btn-mini btn-warning disabled">NA</button>
						<% elsif curso.asistencia < 85 %>
							<button type="button"  class="btn btn-mini btn-danger disabled"><%= curso.asistencia %>%</button>
						<% else %>
							<button type="button"  class="btn btn-mini btn-info disabled"><%= curso.asistencia %>%</button>
						<% end %>
					</td>
					<td class="centered">
						<% if curso.programa.asistencia_promedio == "NA" %>
							<button type="button"  class="btn btn-mini btn-warning disabled">NA</button>
						<% elsif curso.programa.asistencia_promedio < 85 %>
							<button type="button"  class="btn btn-mini btn-danger disabled"><%= curso.programa.asistencia_promedio %>%</button>
						<% else %>
							<button type="button"  class="btn btn-mini btn-info disabled"><%= curso.programa.asistencia_promedio %>%</button>
						<% end %>
					</td>
					<td class="centered">
						<% if curso.asistencia_sobre_el_total == "NA" %>
							<button type="button"  class="btn btn-mini btn-warning disabled">NA</button>
						<% elsif curso.asistencia_sobre_el_total < 85 %>
							<button type="button"  class="btn btn-mini btn-danger disabled"><%= curso.asistencia_sobre_el_total %>%</button>
						<% else %>
							<button type="button"  class="btn btn-mini btn-info disabled"><%= curso.asistencia_sobre_el_total %>%</button>
						<% end %>
					</td>
					<td class="centered">
						<% if curso.programa.asistencia_sobre_el_total_promedio == "NA" %>
							<button type="button"  class="btn btn-mini btn-warning disabled">NA</button>
						<% elsif curso.programa.asistencia_sobre_el_total_promedio < 85 %>
							<button type="button"  class="btn btn-mini btn-danger disabled"><%= curso.programa.asistencia_sobre_el_total_promedio %>%</button>
						<% else %>
							<button type="button"  class="btn btn-mini btn-info disabled"><%= curso.programa.asistencia_sobre_el_total_promedio %>%</button>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	<br><br><br>
</div>