<div class="span3">
  <ul class="nav nav-tabs nav-stacked sesions-sidenav affix">
    <% @cursos.each do |curso| %>
      <% if curso.id == @curso.id %>
        <li class="active">
          <a href="#">
            <i class="icon-chevron-right pull-right"></i>
            <%= curso.nombre %>
          </a>
        </li>
      <% else %>
        <li>
          <a href="/cursos/<%=curso.id%>">
            <i class="icon-chevron-right pull-right"></i>
            <%= curso.nombre %>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class="span1"></div>
<div class="span8">
  <%= render 'layouts/messages' %>
  <div class="page-header">
    <h1><%= @curso.nombre %> <small><%= @curso.codigo %>, <%= @curso.comuna %></small></h1>
  </div>
	<br />
	<% if @sesiones.any? %>
  <h4>Sesiones</h4>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Tema</th>
          <th>Relator</th>
          <th>Horario</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sesiones.each do |sesion| %>
          <tr>
            <td><%= sesion.tema %></td>
            <td><%= User.find(sesion.user_id).name %></td>
            <td><%= sesion.hora_inicio.strftime("%I:%M %p") %> a <%= sesion.hora_termino.strftime("%I:%M %p") %></td>
            <td><%= sesion.fecha.strftime("%d %b, %Y") %></td>
            <td>
              <div class="btn-group">
                <%= link_to("Detalles", details_path(sesion), :class => 'btn btn-mini') %>
                <a data-toggle="modal" href="#edit-sesion-<%= sesion.id %>" class="btn btn-mini" type="button">Editar</a>
                <a data-toggle="modal" href="#delete-sesion-<%= sesion.id %>" class="btn btn-mini btn-inverse" type="button">Eliminar</a>
              </div>
            </td>
          </tr>
          <%= render :partial => 'sesion', :locals => {:sesion => sesion} %>
          <%= render :partial => 'eliminar_sesion', :locals => {:sesion => sesion} %>
        <% end %>
      </tbody>
    </table>
  	<% else %>
    <br />
  	<% end %>
	  <a data-toggle="modal" href="#new-sesion" class="btn btn-mini btn-info" type="button">Agregar Sesión</a>
  	<%= render 'new_sesion' %>
</div>
