<br><br><br>
<h3><%= @curso.nombre %> <small><%= @curso.codigo %></small></h3>
<hr>
<div>
	<div class="span4">
		<button type="button" class="btn btn-large btn-info disabled btn-block">
			Sesiones <br>
			<%= @curso.sesions.count %>
		</button>
	</div>
	<div class="span4">
		<button type="button" class="btn btn-large btn-info disabled btn-block">
			Alumnos <br>
			<%= @curso.alumnos.count %>
		</button>
	</div>
	<div class="span4">
		<button type="button" class="btn btn-large btn-info disabled btn-block">
			Formularios <br>
			<%= @curso.formularios.count %>
		</button>
	</div>
	<br><br><br><br><br><br>
</div>
<div>
<% if @sesiones_pocos_asistentes.empty? && @sesiones_sin_asistencia.empty? && @alumnos_baja_asistencia.empty? && @formularios_sin_contestar.empty? %>
	<div class="span4"></div>
	<div class="span4">
		<br /><br />
		<img src="/images/logo.png" alt="Simón de Cirene" />
		<h4 class="text-center">No hay información</h4>
		<br /><br /><br />
	</div>
<% else %>
	<% if @sesiones_pocos_asistentes.any? %>
		<hr>
		<button type="button" class="btn btn btn-info disabled"><h4>Sesiones Con Asistencia Bajo 85%</h4></button>
		<br><br>
		<table class="table table-condensed table-striped">
			<thead>
			    <tr>
			      <th>Tema</th>
			      <th>Relator</th>
			      <th>Asistentes</th>
			    </tr>
			</thead>
			<tbody>
			  <% @sesiones_pocos_asistentes.each do |sesion| %>
			    <tr>
			      <td><%= sesion.tema %></td>
			      <td><%= sesion.relator.name %></td>
			      <td><%= sesion.porcentaje_asistentes %>%</td>
			    </tr>
			  <% end %>
			</tbody>
		</table>
	<% end %>
	<% if @sesiones_sin_asistencia.any? %>
		<hr>
		<button type="button" class="btn btn btn-info disabled"><h4>Sesiones Sin Asistencia</h4></button>
		<br><br>
		<table class="table table-condensed table-striped">
			<thead>
			    <tr>
			      <th>Tema</th>
			      <th>Relator</th>
			      <th>Fecha</th>
			    </tr>
			</thead>
			<tbody>
			  <% @sesiones_sin_asistencia.each do |sesion| %>
			    <tr>
			      <td><%= sesion.tema %></td>
			      <td><%= sesion.relator.name %></td>
			      <td><%= sesion.fecha.strftime("%d %b, %Y") %></td>
			    </tr>
			  <% end %>
			</tbody>
		</table>
	<% end %>
	<% if @alumnos_baja_asistencia.any? %>
		<hr>
		<button type="button" class="btn btn btn-info disabled"><h4>Alumnos Con Baja Asistencia</h4></button>
		<br><br>
	    <table class="table table-condensed table-striped">
	      <thead>
	          <tr>
	            <th>Nombre</th>
	            <th>Relator Jefe</th>
	            <th>Asistencia</th>
	          </tr>
	      </thead>
	      <tbody>
	        <% @alumnos_baja_asistencia.each_with_index do |alumno, index| %>
	          <tr>
	            <td><%= alumno.nombre %> <%= alumno.apellido_paterno %></td>
	            <td><%= User.find(@curso.relator_jefe_id).name %></td>
	            <td><%= @bajas_asistencias[index] %>%</td>
	          </tr>
	        <% end %>
	      </tbody>
	    </table>
  	<% end %>
  	<% if @formularios_sin_contestar.any? %>
  		<hr>
		<button type="button" class="btn btn btn-info disabled"><h4>Formularios sin contestar</h4></button>
		<br><br>
		<table class="table table-condensed">
			<thead>
			    <tr>
			      <th>Codigo</th>
			      <th>Formulario</th>
			      <th></th>
			    </tr>
			</thead>
			<tbody>
			  <% @formularios_sin_contestar.each do |formulario| %>
			    <tr>
			      <td><%= formulario.codigo %></td>
			      <td><%= formulario.nombre %></td>
			      <td></td>
			    </tr>
			  <% end %>
			</tbody>
		</table>
	<% end %>
<% end %>
</div>