<% if user_signed_in? %>
	<%# --------------------------------- Relator --------------------------------- %> 
	<% if current_user.has_role? :relator %>
		<div class="span4">
			<% current_user.mensajes.each do |mensaje| %>
				<% if mensaje.caracter == "Positivo" %>
					<div class="alert alert-success">
				<% elsif mensaje.caracter == "Neutro" %>
					<div class="alert alert-block">
				<% elsif mensaje.caracter == "Negativo" %>
					<div class="alert alert-error">
				<% else %>
					<div class="alert alert-info">
				<% end %>
					<h4><%= mensaje.titulo %></h4>
					<p><%= mensaje.cuerpo %></p>
				</div>
			<% end %>
		</div>
		<div class="span8">
			<% if @formularios_sin_contestar.empty? && @alumnos_con_tres_o_mas_inasistencias.empty? %>
				<br /><br /><br /><br /><br /><br />
				<div class ="span4">
					<img src="/images/logo.png" alt="Simón de Cirene" />
				</div>
			<% else %>
				<% if @formularios_sin_contestar.any? %>
					<h3>Formularios sin contestar</h3>
					<table class="table table-condensed sortable">
						<thead>
						    <tr>
						      <th>Codigo</th>
						      <th>Formulario</th>
						      <th>Curso</th>
						      <th></th>
						    </tr>
						</thead>
						<tbody>
						  <% @formularios_sin_contestar.each_with_index do |formulario, index| %>
						    <tr>
						      <td><%= formulario.codigo %></td>
						      <td><%= formulario.nombre %></td>
						      <td><%= @cursos_formularios_sin_contestar[index].nombre %></td>
						      <td>
						      	<% if formulario.duplicates(@cursos_formularios_sin_contestar[index]) > 1 %>
				                    <% if formulario.pendientes(@cursos_formularios_sin_contestar[index]) == 1 %>
				                      	<%= link_to "Contestar", curso_formulario_path(:curso_id => @cursos_formularios_sin_contestar[index], :formulario_id => formulario), :class => 'btn btn-mini resumen-tooltip', :title => "Falta " + formulario.pendientes(@cursos_formularios_sin_contestar[index]).to_s, 'data-placement' => "right" %>
				                    <% else %>
				                      	<%= link_to "Contestar", curso_formulario_path(:curso_id => @cursos_formularios_sin_contestar[index], :formulario_id => formulario), :class => 'btn btn-mini resumen-tooltip', :title => "Faltan " + formulario.pendientes(@cursos_formularios_sin_contestar[index]).to_s, 'data-placement' => "right" %>
				                    <% end %>
				                <% else %>
				                    <%= link_to "Contestar", curso_formulario_path(:curso_id => @cursos_formularios_sin_contestar[index], :formulario_id => formulario), :class => 'btn btn-mini' %>
				                <% end %>
						      </td>
						    </tr>
						  <% end %>
						</tbody>
					</table>
				<% end %>
				<% if @alumnos_con_tres_o_mas_inasistencias.any? %>
					<h3>Alumnos con tres o más inasistencias</h3>
					<table class="table table-condensed sortable">
						<thead>
						    <tr>
						      <th>Nombre</th>
						      <th>Curso</th>
						      <th>Inasistencias</th>
						      <th></th>
						    </tr>
						</thead>
						<tbody>
						  <% @alumnos_con_tres_o_mas_inasistencias.each_with_index do |alumno, index| %>
						    <tr>
						      <td><%= alumno.nombre %> <%= alumno.apellido_paterno %></td>
						      <td><%= @cursos_alumnos_con_tres_o_mas_inasistencias[index].nombre %></td>
						      <td><%= alumno.numero_inasistencias(@cursos_alumnos_con_tres_o_mas_inasistencias[index]) %></td>
						      <td><%= link_to "Ver Curso", sesion_curso_path(@cursos_alumnos_con_tres_o_mas_inasistencias[index]), :class => 'btn btn-mini' %></td>
						    </tr>
						  <% end %>
						</tbody>
					</table>
				<% end %>
			<% end %>
		</div>
	<%# ------------------------------ Coordinador/Administrador ------------------------------ %> 
	<% else %>
		<div class="span2"></div>
		<div class="span8">
			<img src="/images/logo_color_rgb.jpg" alt="Simón de Cirene" />
			<br><br><hr>
			<div>
				<%= select_tag "programas", options_from_collection_for_select(Programa.all_active, "id", "nombre"), class: "span6", :prompt => "Selecciona un programa" %>
				<%= select_tag "cursos", options_from_collection_for_select(Curso.all_active, "id", "relator_codigo"), class: "span6", :prompt => "Selecciona un curso" %>
			</div>
			<div id="loading">
				<br><br><br><br><br><br>
				<div class="row-fluid">
				   <div class="span12 pagination-centered"><img src="/images/loading.gif" alt="Simón de Cirene" /></div>
				</div>
			</div>
			<div id="resumen"></div>
		</div>
	<% end %>
<% else %>
	<div class="span4"></div>
	<div class="span4">
		<br /><br /><br /><br /><br /><br />
		<img src="/images/logo.png" alt="Simón de Cirene" />
	</div>
<% end %>