<div>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 class="text-center">Nuevo Mensaje</h3>
	</div>
	<%= simple_form_for(@mensaje) do |f| %>
	<div class="modal-body">
		<%= f.error_notification %>
		<%= display_base_errors resource %>
		<%= f.input :titulo, :autofocus => true, :label => false, :placeholder => "Título", :input_html => { :class => "input-block-level" } %>
		<%= f.input :cuerpo, :label => false, :placeholder => 'Mensaje', :as => "Text", :input_html => { :rows => 10, :class => "input-block-level" } %>
		<%= f.input :caracter, :collection => ['Positivo', 'Neutro', 'Negativo'], :label => false, :prompt => "Carácter del mensaje", :input_html => { :class => "input-block-level" } %>
		<%= select_tag 'user_ids[]', options_for_select((User.with_role :relator).map {|c| [c.name, c.id]}), :multiple => true, :class => "input-block-level", :id => "select-relatores" %>
		<label class="checkbox inline">
			<input class="btn" value="Input" type="checkbox" id="checkbox" >Seleccionar Todos
		</label>
	</div>
	<div class="modal-footer">
		<%= f.button :submit, "Crear", :class => 'btn-info' %>
		<% end %>
		<a href="#" class="btn" data-dismiss="modal">Cerrar</a>
	</div>
</div>

<script type="text/javascript">
	$("#select-relatores").select2({
		placeholder: "Selecciona uno o varios usuarios"
	});
	$("#checkbox").click(function(){
		if($("#checkbox").is(':checked') ){
			$("#select-relatores > option").prop("selected","selected");
			$("#select-relatores").trigger("change");
		}
		else{
			$("#select-relatores > option").removeAttr("selected");
			$("#select-relatores").trigger("change");
		}
	});
</script>