<%# navigation styled for Twitter Bootstrap 2.3 %>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Simón de Cirene</a>
      <div class="nav-collapse collapse">
        <div class="navbar navbar-fixed-top">
          <nav class="navbar-inner">
            <ul class="nav">
              <li><%= link_to 'Home', root_path %><li>
              <% if user_signed_in? %>
                <% if current_user.has_role? :admin %>
                  <li><%= link_to 'Usuarios', users_path %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos</a>
                    <ul class="dropdown-menu" >
                      <li><%= link_to 'Cursos Activos', cursos_path %></li>
                      <li><%= link_to 'Resumen', resumen_cursos_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to 'Cursos Inactivos', cursos_inactivos_path %></li>
                      <li><%= link_to 'Resumen', resumen_cursos_inactivos_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programas</a>
                    <ul class="dropdown-menu" >
                      <li><%= link_to 'Activos', programas_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to 'Inactivos', programas_inactivos_path %></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formularios</a>
                    <ul class="dropdown-menu" >
                      <li><%= link_to 'Ver Fomularios', formularios_path %></li>
                      <li><%= link_to 'Resumen', resumen_formularios_path %></li>
                    </ul>
                  </li>
                  <li><%= link_to 'Mensajes', mensajes_path %></li>
                <% elsif current_user.has_role? :coordinador %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cursos</a>
                    <ul class="dropdown-menu" >
                      <li><%= link_to 'Ver Cursos', cursos_path %></li>
                      <li><%= link_to 'Resumen', resumen_cursos_path %></li>
                    </ul>
                  </li>
                  <li><%= link_to 'Programas', programas_path %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Formularios</a>
                    <ul class="dropdown-menu" >
                      <li><%= link_to 'Ver Fomularios', formularios_path %></li>
                      <li><%= link_to 'Resumen', resumen_formularios_path %></li>
                    </ul>
                  </li>
                  <li><%= link_to 'Mensajes', mensajes_path %></li>
                <% elsif current_user.has_role? :relator %>
                  <li><%= link_to 'Sesiones', sesions_path %></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav pull-right">
              <%= render 'layouts/navigation_links' %>
            </ul>
          </nav>
        </div>
      </div
    </div>
  </div>
</div>
